# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Web
.dart_tool/build/

# IntelliJ
.idea/
*.iml
.idea/

# Android
/android/app/src/main/assets/flutter_assets/
/android/app/src/main/res/raw/
/android/app/build/
/android/.gradle/
/android/captures/
/android/local.properties

# iOS
/ios/Flutter/App.framework
/ios/Flutter/Flutter.framework
/ios/Flutter/flutter_assets/
/ios/Pods/
/ios/.symlinks/
/ios/Runner/GeneratedPluginRegistrant.h
/ios/Runner/GeneratedPluginRegistrant.m

# macOS
/macos/Flutter/ephemeral/
/macos/Pods/
/macos/.symlinks/

# Linux
/linux/flutter/ephemeral/

# Windows
/windows/flutter/ephemeral/
